* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== VARIABLES ===== */
:root {
    --main-bg: linear-gradient(90deg, #171717 0%, #4a4a4a 50%, #343434 100%);
    --accent-color: rgb(209, 43, 2);
    --light: #ffffff;
    --dark: #202020;
    --font-bold: 'Phenomena-Bold', sans-serif;
    --font-light: 'Phenomena-Light', sans-serif;
}


/* ===== FAMILIA DE FUENTES ===== */

@font-face {
    font-family: 'Phenomena-Bold';
    src: url('fonts/Phenomena-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Phenomena-Light';
    src: url('fonts/Phenomena-Light.woff2') format('woff2');
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--main-bg);
    text-align: center;
}

strong {
    color: var(--accent-color);
}

/* ===== CONTENEDOR CON PERSPECTIVA ===== */
.card-container {
    perspective: 1000px;
}

/* ===== TARJETA CONTENEDOR ===== */
.card {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.card:hover {
    transform: rotateY(180deg) scale(1.2);
}

/* ===== CARAS DE LA TARJETA Y SUS ELEMENTOS ===== */
.card-face {
    position: absolute;
    border-radius: 2rem;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 300px;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.front-card{
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid black;
    box-shadow: #000 0px 10px 20px;
    border-radius: 2rem;
}

.back-card{
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid black;
    padding: 30px 5px;
    box-shadow: #000 0px 10px 20px;
    border-radius: 2rem;
}

.principal-title{
    font-family: var(--font-bold);
    font-size: 2.5rem;
}

.back-title{
    font-family: var(--font-bold);
    font-size: 2rem;
    margin-top: 20px;
}
.principal-paragraph{
    font-family: var(--font-light);
    font-size: 1.2rem;
}

.back-paragraph{
    font-family: var(--font-light);
    margin: 0px 15px;
    text-align: left;
}

.principal-image {
    width: 205px;
    margin-left: 15px;
    transition: transform 0.5s ease;
}

.back-card {
    background-color: #202020;
    color: white;
    border: 1px solid #000;
    padding: 30px 10px;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back-image-container{
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50px;
}

.back-image{
    width: 105px;
    height: auto;
    object-fit: cover;
}

.social-media{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    font-size: 1.5rem;
}

.icon {
    color: white;
    transition: color 0.3s;
}

.icon:hover {
    color: var(--accent-color)
}